{% extends "base.html" %}

{% block head %}
<title>{{name}} | Hello </title>
{% endblock %}

<!-- Project Information  -->
{% block title %}
<h1>Hello Series Project</h1>
{% endblock %}

{% block link1 %}
<a href="https://repl.it/@ValerieMiliteev/SnakeProj" class="btn">Snake Game</a>
{% endblock %}
{% block link2 %}
<a href="https://padlet.com/valerie_militeeva/wwpgm5b32jsbycgd" class="btn">Project Padlet</a>
{% endblock %}
{% block link3 %}
<a href="https://padlet.com/jmortensen7/csp2021" class="btn">Resources</a>
{% endblock %}