<html>

<head>
    <title>Project Database Site| Bang 2.0 </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>


<body>
<!-- navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bang2.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <div class="navbar-nav">
                <a class="nav-link" href="/hello/">Hello Series</a>
                <li class="nav-item">
                    <a class="nav-link" href="/flask/">Flask Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/repo/">Journals & Repos</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://nighthawkcoders.cf/courses/python/">Resources </a>

                    </div>
                </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<a href="http://127.0.0.1:3000/sub">page2</a>
<script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>


<div class="container-fluid">

    <div class="row justify-content-end" style="padding-top: 2%; padding-bottom: 2%; padding: 2%;">

        <div class="col-2" style="text-align: right;">
            <h5>Bang 2.0</h5>

            <a href="https://github.com/valeriemiliteeva" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://twitter.com/NighthawkCoding" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>

    </div>


    <div class="product" style="margin-top: 5%;">
        <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">

            <div class="col-8" >
                <h1>Bang2.0's Project Site</h1>
            </div>

        </div>


    </div>


</div>

</body>
<script src="https://threejs.org/build/three.js"></script>
<script src="{{ url_for('static', filename= 'vanta.fog.min.js') }}"></script>
<script>
  VANTA.FOG({
    el: "body",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    highlightColor: 0x63ebd4,
    midtoneColor: 0x3f7bc,
    lowlightColor: 0x321ff,
    baseColor: 0xffffff,
    blurFactor: 0.53,
    speed: 4.00,
    zoom: 0.90
    })
  </script>

</html>
