{% extends "base.html" %}

{% block head %}
<title>{{name}} | Journals </title>
{% endblock %}

<!-- Project Information -->
{% block title %}
<h1>Group Journals and Repos</h1>
{% endblock %}

{% block link1 %}
<a href="https://padlet.com/risaiwazaki55/ox7mw5z9syhnyw7w" class="btn">Aidan, Risa, & Val's Journal</a>
{% endblock %}
{% block link2 %}
<a href="https://padlet.com/risaiwazaki55/ox7mw5z9syhnyw7w" class="btn">Anthony and Michael's Journal</a>
{% endblock %}
{% block link3 %}
<a href="https://repl.it/@ValerieMiliteev/BangPractice#main.py" class="btn">Collaborative Playground</a>
{% endblock %}
